{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% include "common/_navbar.html.twig" %}
<div class="container-form">
    <div class="form-register">
        <h1>Inscription</h1>
        
        {{ form_start(registrationForm) }}
            <div class="form">
                {{ form_row(registrationForm.username, {
                    label: 'Pseudo : '
                }) }}
            </div>
            <div class="form">
                {{ form_row(registrationForm.firstname, {
                    label: 'Prénom RP : '
                }) }}
            </div>
            <div class="form">
                {{ form_row(registrationForm.lastname, {
                    label: 'Nom RP : '
                }) }}
            </div>
            <div class="form">
                {{ form_row(registrationForm.phoneNumber, {
                    label: 'Numero de téléphone RP : '
                }) }}
            </div>
            <div class="form-birthday">
                {{ form_row(registrationForm.birthday, {
                    label: 'Date de naissance RP : '
                }) }}
            </div>
            <div class="form">
                {{ form_row(registrationForm.email, {
                    label: 'Email : '
                }) }}
            </div>
            {# <div class="form">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password : '
                }) }}
            </div> #}
            <div class="form">
                {{ form_row(registrationForm.password) }}
            </div>
            <div class="form">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" id="register-btn" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
