{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include "common/_navbar.html.twig" %}
<div class="container-profil">
    <div>
        <h2>Bienvenue sur votre profil !</h2>
    </div>

    <div class="bigcontainer-grey">
        <div class="container-grey">
            <a href="{{path('app_profil_edit', {'id': app.user.id})}}"><i id="icon-edit" class="fas fa-pen"></i></a>
            <a href="{{path('app_profil_delete', {'id': app.user.id})}}"><i id="icon-delete" class="fas fa-trash"></i></a>
            <p>Pseudo : {{app.user.username}}</p>
            <p>Nom RP : {{app.user.lastname}}</p>
            <p>Prénom RP : {{app.user.firstname}}</p>
            <p>Date de naissance RP : {{app.user.birthday|date("m/d/Y")}}</p>
            <p>Téléphone RP : {{app.user.phoneNumber}} </p>
        </div>

        <div class="container-grey">
            <p>Entreprise : </p>
            <p>Poste : </p>
        </div>

        <div class="container-grey">
            <p>Organisation / Gang : </p>
            <p>Poste : </p>
        </div>

        <div class="container-grey">
            <p>Comptes : </p>
            <p>Comptes en banque : </p>
            <p>Portefeuille :  </p>
            <p>Argent sale : </p>
        </div>

        <div class="container-grey">
            <a href="{{path('app_cars_add', {'id': app.user.id})}}"><i class="fas fa-plus-square add-cars"></i></a>
            <p>Véhicules : </p>

        </div>

        <div class="container-grey">
            <i class="fas fa-plus-square add-weapons"></i>
            <p>Armes : </p>

        </div>
    </div>

</div>

{% endblock %}
