<nav class="container-nav">
    <div class="container-logo">
        <img src="{{asset('/img/LogoNN.png')}}" alt="logo newname">
    </div>
    <div>
        <ul>
            <li><a href="{{path('app_home')}}">Home</a></li>
            <li><a href="{{path('app_join')}}">Nous rejoindre</a></li>
            <li><a href="{{path('app_soutien')}}">Nous soutenir</a></li>
            <li><a href="{{path('app_gallery')}}">Galerie</a></li>
        </ul>
    </div>
    <div>
        {% if not app.user %}
            <div id="register"><a href="{{path('app_register')}}">Inscription</a></div>
            <div id="login"><a href="{{path('app_login')}}">Connexion</a></div>
        {% else %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('admin_panel', {'id': app.user.id})}}"><i class="fas fa-user-cog"></i></a>
        {% endif %}
            <p>Bienvenue, {{app.user.username}} !</p>
            <div id="logout"><a href="{{path('app_logout')}}">Deconnexion</a></div>
            <div id="profil"><a href="{{path('app_profil', {'id': app.user.id})}}">Mon Profil</a></div>
        {% endif %}
    </div>
</nav>