<nav class="container-nav">
    <div class="container-logo">
        <img src="{{asset('/img/LogoNN.png')}}" alt="logo newname">
    </div>
    <div>
        <ul>
            <li><a href="#">Communauté</a></li>
            <li><a href="#">Nous rejoindre</a></li>
            <li><a href="#">Nous soutenir</a></li>
            <li><a href="#">Galerie</a></li>
        </ul>
    </div>
    <div>
        {% if not app.user %}
            <div id="register"><a href="{{path('app_register')}}">Inscription</a></div>
            <div id="login"><a href="{{path('app_login')}}">Connexion</a></div>
        {% else %}
            <p>Bienvenue, {{app.user.username}} !</p>
            <div id="logout"><a href="{{path('app_logout')}}">Deconnexion</a></div>
            <div id="profil"><a href="{{path('app_profil')}}">Mon Profil</a></div>
        {% endif %}
    </div>
</nav>